<div class="row">
    <div class="span6">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="pdfexport-fontsize">
                    <%= Nls.LABEL_FONTSIZE %>
                </label>
                <div class="controls">
                    <input min="1" id="pdfexport-fontsize" step="1" type="number" value="10" />
                </div>
            </div>
            <div class="control-group">
                <label>
                    <input type="radio" name="pdfexport-content" value="selection" /> <%= Nls.LABEL_SELECTION %>
                </label>
                <label>
                    <input type="radio" name="pdfexport-content" value="whole" /> <%= Nls.LABEL_WHOLE_FILE %>
                </label>
            </div>
        </form>
    </div>
</div>
